
*{
    margin: 0;
    padding: 0;
}
.content-account{
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
.content-account select{
    width: 500px;
    height: 30px;
    margin: 5px;
    padding: 15px;
    display: block;
}
.content-account form input{
    width: 500px;
    height: 30px;
    margin: 5px;
    padding: 15px;
    display: block;
}
.content-account form button{

    margin: 10px;
}

#avatar input {
    border: 1px solid black;
}