* {
    margin: 0;
    padding: 0;
}

#table-product-list{
    border: 1px solid black;
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    margin-top: 20px;
    
}

#table-product-list tr{
    border-bottom:1px solid black;
    height: 50px;
    width: auto;
    color: mediumblue;
}

#table-product-list td,th{
    padding: 15px;
    vertical-align: middle;
    box-sizing: border-box;
}

#table-product-list td span{
    margin-right: 30px;
}
#table-product-list th{
    color: white;
    background-color: #FE980F;
}
#table-product-list tfoot tr td{
    text-align: right;
}

#table-product-list tfoot tr td span{
    background-color: #FE980F;
    padding: 10px;
}


/* add new product css */

.card-body form input, select {
    padding: 10px;
    border: none;
    width: 100%;
    height: 40px;
    background-color: whitesmoke;
    margin: 10px;
}


.card-body form textarea{
    margin: 10px;
    padding: 10px;
    border: none;
    background-color: whitesmoke;
}

#persent {
    width: 30%;
}

.card-body form button{
    margin: 10px;
    padding: 10px;
    border: none;
    background-color: #FE980F;

}

.card-body h2{
    text-align: center;
}
/* //checkbox image */
/* .img-checkbox ul {
    list-style-type: none;
  }
  
.img-checkbox ul li {
    display: inline-block;
  }
  
.img-checkbox ul li input[type="checkbox"][id^="myCheckbox"] {
    display: none;
  }
  
.img-checkbox ul li label {
    border: 1px solid #fff;
    padding: 10px;
    display: block;
    position: relative;
    margin: 10px;
    cursor: pointer;
  }
.img-checkbox ul li label:before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid grey;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
  }
  
.img-checkbox ul li label img {
    height: 100px;
    width: 100px;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
  }
  
.img-checkbox ul li label:checked , .img-checkbox ul li label {
    border-color: #ddd;
  }
  
.img-checkbox ul li label:checked , .img-checkbox ul li label:before {
    content: "✓";
    background-color: grey;
    transform: scale(1);
  }
  
.img-checkbox ul li label:checked , .img-checkbox ul li label img {
    transform: scale(0.9);
    /* box-shadow: 0 0 5px #333; */
    /* z-index: -1;
  } */ 

  .carousel-inner .item img{
    width: 85px;
    height: 84px;
}

