.class-search{
    display: inline-block;
    width: 130px;
    height: 40px;
    margin: 5px;
    margin-bottom: 30px;
  }
  .class-search input,select{
    width: 100%;
    height: 100%;
  }

  .class-search button{
    width: 50%;
    height: 100%;
    background-color: orange;
  }